
@media (min-width: 350px) and (max-width:600px){
    .navbar-brand {
        font-size: 1.4em !important;
    }   
    .navbar-brand img {
        width: 20% !important;
    }
    header h1>img {
        width: 8% !important;
    }
    header h1 {
        padding-top: 2% !important;
        font-size:  1.2em !important;
    }
    .main-wrapper {
        padding-top: 5% !important;
        height: 1100px !important;
    }
    .first-block .main-text h2 {
        text-align: center !important;
        font-size: 2em !important;
    }
    .first-block .main-text p {
        text-align: justify !important;
        font-size: 1em !important;
    }
    .first-block .main-text {
        padding-bottom: 10%;
    }
    .first-block .contact-form {
        margin: 0 !important;
    }
    .first-block .contact-form button {
        width: 100% !important;
    }
    .advantages {
        padding-top: 5% !important;
        height: 1100px !important;
        padding-bottom: 10% !important; 
    }
    .advantages h2 {
        font-size: 1.6em !important;
    }
    .advantages .card {
        text-align: center !important;
        min-height: 0px !important;
    }
    .advantages img {
        display: none !important;
    }
    .advantages p {
        font-size: 0.9em !important;
    }
    #firmware h2 {
        font-size: 1.6em !important;
        padding-bottom: 5% !important;
    }
    .firmware-block {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .firmware-block img {
        margin-left: 30% !important;
    }
    .firmware-block .toggler {
        font-size: 0.9em !important;
        text-align: center !important;
    }
    .firmware-block .firmware-toggler {
        min-height: 60px !important;
    }
    .firmware-block .firmware-toggler .col-10 {
        padding-top: 8px !important;
    }
    .firmware-block .firmware-toggler .col-8 {
        padding-top: 4px  !important;
    } 
    footer img {
        width: 15%;
    }
    footer .tg-text  {
        font-size: .8em !important;
    }
}