
@media (min-width: 350px) and (max-width:600px){
    
    header h1>img {
        width: 8% !important;
    }
    header h1 {
        padding-top: 2% !important;
        font-size:  1.2em !important;
    }
    .main-wrapper {
        height: 1200px !important;
    }
    .first-block .main-text h2 {
        text-align: center !important;
        font-size: 2em !important;
    }
    .first-block .main-text p {
        text-align: justify !important;
        font-size: 1em !important;
    }
    .first-block .main-text {
        padding-bottom: 10%;
    }
    .first-block .contact-form {
        margin: 0 !important;
    }
    .first-block .contact-form button {
        width: 100% !important;
    }
    .advantages {
        height: 1150px !important;
        padding-bottom: 10% !important; 
    }
    /* .advantages .card {
        width: ;
    } */
    .advantages p {
        font-size: 0.9em !important;
    }
    .firmware-block {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .firmware-block img {
        margin-left: 50% !important;
    }
    .firmware-block .toggler {
        font-size: 0.9em !important;
        text-align: center !important;
    }
}